body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/*header style*/
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

.room-section {
    text-align: center;
}

.room {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.room img {
    width: 25%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: inline-block;
    margin-right: 22%;
}

.room h3 {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    margin-left: 20px;
}

.room p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    display: block;
    margin-left: 20px;
}

.room button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.room button:hover {
    background-color: #0056b3;
}

.booking-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.booking-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.booking-section form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.booking-section label {
    font-size: 18px;
    margin-right: 10px;
}

.booking-section select, .booking-section input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.booking-section button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-section button[type="submit"]:hover {
    background-color: #0056b3;
}

/*footer style*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 16px;
    margin: 5px 0;
}

.room .prop{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

